/*  Common CSS start  */
body{}
/*  Common CSS end  */

/*  Header start  */
header{
	padding: 5px 0px;
	border-bottom: 3px solid #fafbfb;
}
.container {
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.logo {
	width: 10%;
	float: left;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}
.menu {
	width: 50%;
	float: right;
}
.menu ul{
	display: block;
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 1px 25px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	color: #0F2656;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #008AFF;
}
/* Header end */

/* Slogan Start */
.slogan_sec{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.slogan_text h1 {
    font-size: 45px;
    color: #0f2656;
    line-height: 50px;
    margin: 70px 0px 30px;
}

.slogan_text h1 span{
    color: #008aff;
}

.slogan_text p{
    margin: 0;
}

.slogan_img img{
    width: 75%;
    margin: 40px 0 0;
}
/* Slogan End */

/*Slider Image Start*/
.project_sec{
    width: 60%;
    margin: 25px auto 70px;
}

.project_text{
    display: inline-block;
    width: 48%;
    text-align: right;
}

.project_text h1{
    margin: 0;
    font-size: 40px;
    color: #f15969;
}

.project_text p{
    color: #464646;
    font-size: 20px;
}

.project_ideas{
    width: 48%;
    float: right;
}

.project_ideas h1{
    font-size: 40px;
    margin: 0;
    color: #0f2656;
}
/* Slider Image End */